@model BethOlmo_blog.Models.BlogPost
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
}

<div class="container mt-xl-5">
    <div class="row">
        <div class="col-lg-8">
            <!--How to get an image displaying here-->
            <!--Display categories here-->
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <!--Display author and date stamp here-->
            <br />
            @if (Model.MediaURL != null)
            {
                <div class="text-center">
                    <img class="img-fluid mb-4" src="@Model.MediaURL" alt="" />
                </div>
            }
            <br />
            @Html.Raw(Model.Body)
            <br />
            @*@foreach (var category in Model.Categories)
            {
                <div class="row mb-xl-4">
                    <div class="col">Category: @category.Name</div>
                </div>
            }*@

        </div>
        <div class="col-lg-4">
            @*<div class="widget search">
                <header>
                    <h3 class="h6">Search the Blog</h3>
                </header>
                @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class="form"}))
                {
                    <div class="form-group">
                        <input type="search" placeholder="What are you looking for?">
                        <button type="submit" class="submit"><i class="icon-search"></i></button>
                    </div>
                }
            </div>*@
            @*<div class="widget latest-posts">
                <header>
                    <h3 class="h6">Latest Posts</h3>
                </header>
                <div class="blog-posts">

                </div>
            </div>*@
            @*<div class="widget categories">
                <header>
                    <h3 class="h6">Categories</h3>
                </header>
                <div class="item d-flex justify-content-between"><a href="#">Category</a><span>1</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Category</a><span>2</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Category</a><span>3</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Category</a><span>4</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Category</a><span>5</span></div>
            </div>*@
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 col-offset-3 mt-xl-5">
            <h3>Post Comments</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-offset-3">
            @foreach (var comment in Model.Comments)
            {
                <p id="comment-@comment.Id">@Html.Raw(comment.CommentBody)</p>
                if (comment.AuthorId != null)
                {
                    <p>By: @comment.Author.DisplayName on @comment.Created</p>
                }
                <hr />
                if(User.IsInRole("Admin") || User.IsInRole("Mod") || User.Identity.GetUserId() == comment.AuthorId)
                {
                @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new { @class = "btn btn-danger" })
                }
                <hr />
            }
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-offset-3 mt-xl-5 mb-3">
            <h5>Leave a comment.</h5>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 col-offset-3">
            @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("BlogPostId", Model.Id)
                @Html.Hidden("Slug", Model.Slug)
                <div class="row">
                    @Html.TextArea("CommentBody", new { rows = 10, cols = 80 })
                </div>
                <div class="row mt-5">

                </div>
                <div class="row mb-xl-5">
                    <button class="btn btn-info" type="submit">Submit</button>
                </div>
            }
        </div>
    </div>
</div>
