@using PagedList;
@using PagedList.Mvc;

@model IPagedList < BethOlmo_blog.Models.BlogPost>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/style.sea.css" rel="stylesheet" />

        @*Hero Section-->*@
<section style="background: url('../../Images/BlogSheroB1920x1438C.png'); background-size: cover; background-position: center top" class="hero">
    <div class="container">
        @*<div class="row mt-xl-5">
                <div class="col-lg-7 offset-2">
                    <h1>Developer Thoughts</h1>
                </div>
            </div>*@
    </div>
</section>

<!-- Intro Section-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>You <span style="font-style:italic">Can</span> Get There From Here</h1>
                <p class="text-big">Welcome! Thanks for stopping by. I'm a developer, musician, maker, writer... a creative! This blog is where I share my thoughts and insights on my journey to and experiences of being a Full Stack .Net Developer.</p>
            </div>
        </div>
    </div>
</section>

<!-- Divider Section-->
<section style="background: url('../../Images/DivBkgrnd_B1920x1280(2).png'); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Drive + Determination</h2>
                <p>...carry me through when I'm ready to throw in the towel.</p>
                <a href="//betholmo-portfolio.netlify.app/" class="hero-link" target="_blank">Check Out My Portfolio</a>
            </div>
        </div>
    </div>
</section>

<!-- Latest Posts -->
<section class="latest-posts" id="latest-posts">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3 text-center">
                <header>
                    <h2>Latest from the blog</h2>
                </header>
            </div>
        </div>
        
        <div class="row justify-content-center mb-xl-5">
            @foreach (var blog in Model)
            {
                <div class="post col-3">
                    <div class="thumbnail"><a href="@Url.Action("Details", "BlogPosts", new { slug = blog.Slug})"><img src="@blog.MediaURL" /></a></div>
                    <div class="post-details">
                        <div class="post-meta d-fex justify-content-between">
                            <div class="date">@blog.Created.ToString("MMM dd, yyyy")</div>
                            @*<div class="category"><a href="@Url.Action("")"></a></div>*@
                        </div><a href="@Url.Action("Details", "BlogPosts", new { slug = blog.Slug})">
                            <h3 class="h4">@blog.Title</h3>
                        </a>
                    </div>
                </div>
            }
        </div>
        <br/>

        <div class="row justify-content-center">
            <div class="col-3 text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
            </div>
           
            
            
        </div>
    </div>
</section>

<!-- Newsletter Section-->
@*<section class="newsletter no-padding-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Subscribe</h2>
                <p class="text-big">Never miss a new post!</p>
            </div>
            <div class="col-md-8">
                <div class="form-holder">
                    <form action="#">
                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="Enter your email address">
                            <button type="submit" class="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>*@